<!doctype html>
<html>
  <head>
    <title></title>
    <style>
      p, li {
        font: 14px/16px "Helvetica Neue", Helvetica, sans-serif
      }
    </style>
  </head>
  <body>
    <p>Hello {{fullName}}!</p>

    <p>Thanks for joining the Maker Party. We're excited that you're joining us!</p>

    <p>The key to a successful Maker Party event is planning, so we've put together a list to help you along the way:</p>

    <ol>
      <li>Check out our <a href="https://wiki.mozilla.org/Maker_Party/Get_involved">Get Involved</a> page for everything you need to throw your party</li>

      <li>If you have any questions, visit our <a href="https://wiki.mozilla.org/Maker_Party/FAQs">Frequently Asked Questions</a> page</li>

      <li>Start planning your event using these helpful <a href="https://webmaker.org/guides">guides</a></li>

      <li>Request a free <a href="https://intlstore.mozilla.org/makerparty/">Maker Party gear pack</a> that includes stickers, t-shirts and banners</li>

      <li>Reach out to media with our <a href="#">communications package</a></li>

      <li>On the day of your event, remember to document everything with photos and video</li>

      <li>Use <a href="https://mozteach.makes.org/thimble/what-i-made-maker-party">this template</a> to allow participants to show off what they make at your event</li>

      <li>Share the details of your party on Twitter with the #makerparty hashtag and inspire other webmakers around the globe</li>

      <li>Want some more free gear? Give us your <a href="https://webmaker.org/feedback">feedback</a> now or help us with user testing at your event</li>

      <li>If you have questions, ideas for collaboration or information you'd like to share with us, don't hesitate to reach out. We're here to help!</li>

      <li>We can't wait to see the things that you make (or break)!</li>

    <p>- <b>The Webmaker Team</b></p>
  </body>
</html>
