<!doctype html>
<html>
  <head>
    <title></title>
    <style>
      p, li {
        font: 14px/16px "Helvetica Neue", Helvetica, sans-serif;
      }

      .unsubscribe {
        font-size: 10px;
        line-height: 12px;
      }
    </style>
  </head>
  <body>
    <p>Hello {{fullName}},</p>

    <p>Thank you for registering a Maker Party event. We're excited that you're joining us!</p>

    <p>The key to a successful Maker Party event is planning, so we've put together a checklist to help you along the way:</p>

    <p><strong>Before your event</strong></p>
    <ul>
	    <li>Visit our <a href="https://wiki.mozilla.org/Maker_Party/Get_involved">Get Involved</a> page for everything you need to throw your party.</li>
	    <li>Start planning using these helpful <a title="Webmaker event guides" href="https://webmaker.org/guides" target="_blank">event guides</a>.</li>
	    <li>Request a free <a href="https://intlstore.mozilla.org/makerparty/">Maker Party gear pack</a> that includes stickers, t-shirts and banners.</li>
	    <li>Reach out to media with our <a title="Maker Party press kit" href="https://wiki.mozilla.org/Maker_Party/Communications/Press_Kit" target="_blank">press kit</a>.</li>
	    <li>Questions? Visit our <a title="Maker Party FAQ" href="https://wiki.mozilla.org/Maker_Party/FAQs" target="_blank">FAQ</a>.
    </li>
    </ul>
     <p><strong>During your event</strong></p>
    <ul>
	    <li>Remember to document everything with photos and video!</li>
	    <li>Encourage your participants to show off what they make with <a href="https://mozteach.makes.org/thimble/what-i-made-maker-party">this shareable template</a>.</li>
    	<li>Help improve the Mozilla Webmaker project by conducting <a title="Feedback form" href="https://webmaker.org/feedback" target="_blank">user testing</a> during your event.
    </li>
    </ul>
     <p><strong>After your event</strong></p>
    <ul>
    	<li>Share the details of your party on Twitter with the <a title="#makerparty on Twitter" href="https://twitter.com/search?q=makerparty" target="_blank">#makerparty</a> hashtag.</li>
    	<li><a title="Maker Party events" href="https://webmaker.org/events/" target="_blank">Host another event!</a> The global Maker Party runs until September 15.</li>
    </ul>

    <p>If you have questions, ideas for collaboration or information you'd like to share with us, don't hesitate to reach out. We're here to help.</p>

    <p>Cheers!
    <br>
    Amira
    </p>

    <p class="unsubscribe">If you do not wish to receive any more emails from Mozilla Webmaker you can change your <a href="https://login.webmaker.org/account">email preferences</a>.</p>
  </body>
</html>
