<!doctype html>
<html>
  <head>
    <style>
      p, li {
        font: 14px/16px "Helvetica Neue", Helvetica, sans-serif
      }
    </style>
  </head>
  <body>
    <p>Welcome {{ fullName }}!</p>

    <p>Thanks for joining the Webmaker community and helping us create the web by making, teaching and remixing. Here are some steps to get you started:</p>

    <ol>
      <li>Ever wanted to create or remix cool web videos, audio or images together? Or learn how to create your own webpage in minutes using HTML or CSS? Get started with Popcorn Maker and Thimble: <a href="https://webmaker.org/tools">https://webmaker.org/tools</a></li>

      <li>Teach the web with us! Explore our <a href="https://webmaker.org/teach">resources</a> to help teach digital literacy, webmaking, online storytelling or find out information on how to become a mentor to other webmakers: <a href="https://webmaker.org/mentor">https://webmaker.org/mentor</a></li>

      <li>Tell us about cool events happening near you and add them to our global events map. <a href="https://webmaker.org/events">https://webmaker.org/events</a></li>
    </ol>

    <p>Questions? Email <a href="mailto:welcome@webmaker.org">welcome@webmaker.org</a> or tweet <a href="https://twitter.com/webmaker">@webmaker</a></p>

    <p>We can't wait to see the things that you make (or break!)</p>

    <p>- <b>The Webmaker Team</b></p>
  </body>
</html>
