<!doctype html>
<html>
  <head>
    <title>Welcome to Webmaker!</title>
    <style>
      p, li {
        font: 14px/16px "Helvetica Neue", Helvetica, sans-serif;
      }

      .unsubscribe {
        font-size: 10px;
        line-height: 12px;
      }
    </style>
  </head>
  <body>
    <p>Welcome to Mozilla Webmaker, {{ fullName }}!</p>

    <p>You've joined a global community of makers, remixers, teachers and learners. Our goal is to help you create the content that makes the web great. We've built everything at Webmaker so you can see how the web works, take it apart and remix it. Here's how to get started:</p>

    <p><strong><a title="Make something with Webmaker" href="https://webmaker.org/tools" target="_blank">Make something</a></strong>
    <br>Our tools, Thimble and Popcorn Maker, allow you to build and remix content while peeking under the hood of the internet, getting familiar with all the moving parts and learning foundational elements like HTML, CSS and JavaScript. Here's a selection of <a title="Starter Projects" href="https://webmaker.org/starter-makes" target="_blank">Starter Projects</a> to get you going.</p>

    <p><strong><a title="Learn and teach the web" href="https://webmaker.org/teach" target="_blank">Learn and Teach</a></strong>
    <br>Learning through making is a core part of Mozilla's mission. We've designed starter projects, templates and how-to guides to help you to create on the web and share your knowledge with others.</p>

    <p><strong><a title="Join us at an event" href="https://webmaker.org/events" target="_blank">Join us at an event</a></strong>
    <br>Every day there are events around the world that bring together people with diverse skills and backgrounds like filmmakers, journalists, hackers, artists, scientists and more to collaborate online. Search for events and learn how to throw your own.</p>

    <p>Thanks for taking the time to sign up with <a title="Webmaker" href="https://webmaker.org" target="_blank">Webmaker</a>. If you have questions, feel free to email me or tweet @webmaker. We can't wait to see the things that you make (or break!) on the web.</p>

    <p>Jake
    <br>Webmaker Community Manager</p>

    <p class="unsubscribe">If you do not wish to receive any more emails from Mozilla Webmaker you can change your <a href="https://login.webmaker.org/account">email preferences</a>.</p>
  </body>
</html>
